.red_btn {
    background: #f00;
}

.green_btn {
    background: #007543;
}

.gray_btn {
    background: #a9a9a9;
}

.blue_btn {
    background: #000082;
}

.blk_btn {
    background: #000;
}

.y_btn {
    background: #fdeb00;
}

.c_btn {
    background: #535548;
}

.g_btn {
    background: #d8dded;
}

.gg_btn {
    background: #444;
}

.ggg_btn {
    background: #e8e8e8;
}